/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Navegación */
nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    width: 90%;
    z-index: 1000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007bff;
}

/* Sección de Presentación */
header.presentation {
    text-align: center;
    margin-top: 100px;
    background-color: #007bff;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

header.presentation h1 {
    font-size: 2.5rem;
    color: white;
}

header.presentation img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

header.presentation p {
    font-size: 1rem;
    color: white;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo para Secciones con Recuadro */
section {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

section ul {
    list-style: none;
    padding-left: 0;
}

section ul li {
    margin: 10px 0;
    padding: 15px;
    font-size: 1.1rem;
    color: #333;
}

/* Logros Destacados */
.certifications {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.certifications img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

/* Resumen */
section p {
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: 0 0 20px;
    line-height: 1.8;
    text-align: left;
}

/* Pie de página */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #888;
}
